/*
 * Get the width of a column in a grid (use percents)
 */
/*
 * Get the width of the left margin for a column in a grid (use percents)
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.7em 0; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 0.7em;
  color: #777777; }

.sub {
  color: #909090; }

h1.sub {
  font-size: 1.4em; }

h2.sub {
  font-size: 1.1em; }

h3.sub {
  font-size: 0.8em; }

h4.sub {
  font-size: 0.7em; }

h5.sub {
  font-size: 0.55em; }

h6.sub {
  font-size: 0.5em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.67em; }

html {
  font-family: Roboto, Arial, sans-serif;
  color: #57311E; }

a {
  text-decoration: none;
  color: #3498DB; }

a:hover {
  color: #167ABD; }

p, blockquote {
  margin-bottom: 10px; }

mark {
  background-color: #5CC0FF; }

em {
  font-style: italic; }

del {
  text-decoration: line-through; }

ins, u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

abbr[title] {
  text-decoration: underline dotted; }

q:before, q:after {
  content: "\""; }

blockquote {
  padding: 8px 30px;
  border-left: 8px #F2F2F2 solid;
  line-height: 2em;
  color: #333333; }

code {
  display: inline-block;
  padding: 5px 8px;
  color: #EE6E73; }

pre {
  display: block;
  padding: 8px 15px;
  border-left: 8px #EAEAEA solid;
  color: #333333;
  line-height: 2em;
  overflow: auto; }

code, pre {
  background-color: #F8F8F8;
  border-radius: 3px;
  font-family: "Source Code Pro", monospace, sans-serif; }

kbd {
  padding: 1px 5px;
  background-color: #333333;
  border-radius: 3px;
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #FFFFFF; }

ul {
  list-style-position: inside;
  list-style-type: disc; }

.list-square {
  list-style-type: square; }

.list-unstyled {
  list-style: none; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justified {
  text-align: justify; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

html {
  min-height: 100%; }

body {
  height: 100%; }

.left {
  float: left; }

.right, .navbar > li.navbar-right {
  float: right; }

.pull-down {
  margin-top: 70px; }

.row {
  display: block;
  width: 100%;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.flex-row {
  display: flex;
  flex-wrap: wrap; }

.col {
  box-sizing: border-box;
  margin-left: 0.5%;
  margin-right: 0.5%;
  flex-basis: 0;
  flex-grow: 1; }

.col-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 7.33333%; }

.col-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 15.66667%; }

.col-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 24%; }

.col-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32.33333%; }

.col-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 40.66667%; }

.col-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 49%; }

.col-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 57.33333%; }

.col-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 65.66667%; }

.col-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 74%; }

.col-10 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 82.33333%; }

.col-11 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 90.66667%; }

.col-12 {
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%; }

.col-offset-1 {
  margin-left: 8.83333%; }

.col-offset-2 {
  margin-left: 17.16667%; }

.col-offset-3 {
  margin-left: 25.5%; }

.col-offset-4 {
  margin-left: 33.83333%; }

.col-offset-5 {
  margin-left: 42.16667%; }

.col-offset-6 {
  margin-left: 50.5%; }

.col-offset-7 {
  margin-left: 58.83333%; }

.col-offset-8 {
  margin-left: 67.16667%; }

.col-offset-9 {
  margin-left: 75.5%; }

.col-offset-10 {
  margin-left: 83.83333%; }

.col-offset-11 {
  margin-left: 92.16667%; }

@media screen and (min-width: 700px) {
  .col-lg-1 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 7.33333%; }

  .col-lg-2 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 15.66667%; }

  .col-lg-3 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 24%; }

  .col-lg-4 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 32.33333%; }

  .col-lg-5 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 40.66667%; }

  .col-lg-6 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 49%; }

  .col-lg-7 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 57.33333%; }

  .col-lg-8 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 65.66667%; }

  .col-lg-9 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 74%; }

  .col-lg-10 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 82.33333%; }

  .col-lg-11 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 90.66667%; }

  .col-lg-12 {
    box-sizing: border-box;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 99%; }

  .col-lg-offset-1 {
    margin-left: 8.83333%; }

  .col-lg-offset-2 {
    margin-left: 17.16667%; }

  .col-lg-offset-3 {
    margin-left: 25.5%; }

  .col-lg-offset-4 {
    margin-left: 33.83333%; }

  .col-lg-offset-5 {
    margin-left: 42.16667%; }

  .col-lg-offset-6 {
    margin-left: 50.5%; }

  .col-lg-offset-7 {
    margin-left: 58.83333%; }

  .col-lg-offset-8 {
    margin-left: 67.16667%; }

  .col-lg-offset-9 {
    margin-left: 75.5%; }

  .col-lg-offset-10 {
    margin-left: 83.83333%; }

  .col-lg-offset-11 {
    margin-left: 92.16667%; } }
.btn, .create .checkbox label {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #a35c38;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: normal;
  box-sizing: border-box;
  color: #dcaf98;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px; }
  .btn:hover, .create .checkbox label:hover {
    background-color: #7d462b;
    color: #dcaf98; }

.btn-primary {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #57311E;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: normal;
  box-sizing: border-box;
  color: #c1744d;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px; }
  .btn-primary:hover {
    background-color: #311c11;
    color: #c1744d; }

.btn-sm {
  padding: 5px 10px; }

.btn-lg {
  padding: 20px 25px; }

.btn-xl {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar {
  list-style: none;
  background-color: #57311E;
  margin: 0;
  padding: 0;
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .navbar > li {
    float: left; }
    .navbar > li > a {
      display: block;
      padding: 20px 20px;
      color: #c1744d; }
      .navbar > li > a:hover {
        background-color: #442617;
        color: #dcaf98; }
    .navbar > li.active > a {
      font-weight: bold;
      background-color: #442617; }
    .navbar > li.disabled > a {
      color: #AAAAAA;
      cursor: not-allowed; }
  .navbar .header {
    font-weight: bold; }
  .navbar .navbar-toggle {
    display: none; }
    .navbar .navbar-toggle a {
      padding: 21px; }
    @media screen and (max-width: 700px) {
      .navbar .navbar-toggle {
        display: block; }
        .navbar .navbar-toggle:hover + .collapse > ul {
          display: block; } }
  @media screen and (max-width: 700px) {
    .navbar .collapse {
      width: 100%; }
      .navbar .collapse > ul {
        display: none;
        text-align: center; }
        .navbar .collapse > ul:hover {
          display: block; } }

.navbar-nav {
  list-style: none; }
  .navbar-nav li {
    display: inline-block; }
    .navbar-nav li > a {
      display: block;
      padding: 20px;
      color: #a35c38; }
      .navbar-nav li > a:hover {
        background-color: #311c11; }
  @media screen and (max-width: 700px) {
    .navbar-nav {
      display: block;
      background-color: #442617; }
      .navbar-nav li {
        display: block; } }

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #311c11; }
  .icon-bar + .icon-bar {
    margin-top: 4px; }

.presentation {
  background-image: url("../img/3.jpg");
  background-size: cover; }

.presentation-links {
  position: absolute;
  bottom: 50px; }

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 900px) {
    .container {
      width: 800px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 950px; } }

.breadcrumb {
  list-style: none;
  background-color: #57311E;
  padding: 15px; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #905132;
      content: ">\00a0"; }
  .breadcrumb a {
    color: #a35c38; }
    .breadcrumb a:hover {
      color: #c1744d; }
  .breadcrumb > li.active > a {
    color: #c1744d; }

.ingredient {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px #CCCCCC solid; }
  .ingredient:last-child {
    border: none; }
  .ingredient > .ingredient-img {
    text-align: center; }
    .ingredient > .ingredient-img > img {
      width: 200px;
      max-width: 100%;
      max-height: 200px; }
  @media screen and (min-width: 700px) {
    .ingredient {
      text-align: justify;
      padding: 30px; }
      .ingredient img {
        margin: auto; } }

.list-unstyled > li {
  padding-top: 5px;
  padding-bottom: 5px; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table th {
    padding: 15px 10px;
    border-bottom: 2px #57311E solid;
    text-align: left;
    font-weight: bold; }
  .table td {
    padding: 15px 10px; }
  .table > tbody > tr {
    border-bottom: 1px #57311E solid; }
    .table > tbody > tr:last-child {
      border: none; }

.table-bordered {
  border: 1px #57311E solid; }
  .table-bordered th {
    border: 1px #57311E solid;
    border-bottom-width: 2px; }
  .table-bordered td {
    border: 1px #57311E solid; }

.table-striped > tbody > tr:nth-child(2n+1) {
  background-color: #dcaf98; }

.table-hover > tbody > tr:hover {
  background-color: #c1744d; }

.order {
  text-align: center; }
  .order > .table {
    text-align: left; }
  @media screen and (min-width: 900px) {
    .order {
      text-align: left; }
      .order .btn-xl {
        display: inline-block;
        float: right;
        padding-left: 30px;
        padding-right: 30px; } }

.create {
  text-align: center; }
  .create .form-group > label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 700px) {
      .create .form-group > label {
        display: inline-block; } }
  .create .checkbox {
    display: inline-block; }
  @media screen and (min-width: 700px) {
    .create {
      text-align: left; }
      .create h3 {
        padding-left: 30px; }
        .create h3 + .checkbox {
          margin-left: 60px; } }

/*# sourceMappingURL=app.css.map */
