
@import "framework/framework";

html {
  min-height: 100%;
}

body {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pull-down {
  margin-top: 70px;
}

.row {
  @include row();
  box-sizing: border-box;
}

.flex-row {
  @include flex-row();
}

.col {
  @include flex-grid($gutter);
}

@include float-columns(12, 1%, 'col-');
@include offsets(12, 1%, 'col-offset-');

@media screen and (min-width: 700px) {
  @include float-columns(12, 1%, 'col-lg-');
  @include offsets(12, 1%, 'col-lg-offset-');
}

.btn {
  @include btn(lighten($navbarBgColor, 20), 10px, 15px, lighten($navbarBgColor, 50));
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  @include btn($navbarBgColor, 10px, 15px, lighten($navbarBgColor, 30));
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-sm {
  padding: 5px 10px;
}

.btn-lg {
  padding: 20px 25px;
}

.btn-xl {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  @include navbar($navbarBgColor, lighten($navbarBgColor, 30), $navbarDisabledColor);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header {
    font-weight: bold;
  }

  & > li.navbar-right {
    @extend .right;
  }

  .navbar-toggle {
    display: none;

    a {
      padding: 21px;
    }

    @media screen and (max-width: 700px) {
      display: block;
      &:hover + .collapse > ul {
        display: block;
      }
    }
  }

  .collapse {
    @media screen and (max-width: 700px) {
      width: 100%;
      & > ul {
        display: none;
        text-align: center;
        &:hover {
          display: block;
        }
      }
    }
  }
}

.navbar-nav {
  list-style: none;

  li {
    display: inline-block;
    & > a {
      display: block;
      padding: 20px;
      color: lighten($navbarBgColor, 20);

      &:hover {
        background-color: darken($navbarBgColor, 10);
      }
    }
  }

  @media screen and (max-width: 700px) {
    display: block;
    background-color: darken($navbarBgColor, 5);

    li {
      display: block;
    }
  }
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: darken($navbarBgColor, 10);
  & + .icon-bar {
    margin-top: 4px;
  }
}

.presentation {
  background-image: url('../img/3.jpg');
  background-size: cover;
}

.presentation-links {
  position: absolute;
  bottom: 50px;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 900px) {
    width: 800px;
  }

  @media screen and (min-width: 1200px) {
    width: 950px;
  }
}

.breadcrumb {
  @include breadcrumb($breadcrumbBgColor, $breadcrumbSeparatorColor, $breadcrumbPadding);
  a {
    color: lighten($navbarBgColor, 20);
    &:hover {
      color: lighten($navbarBgColor, 30);
    }
  }

  & > li.active > a {
    color: lighten($navbarBgColor, 30)
  }
}

.ingredient {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px #CCCCCC solid;
  &:last-child {
    border: none;
  }

  & > .ingredient-img {
    text-align: center;

    & > img {
      width: 200px;
      max-width: 100%;
      max-height: 200px;
    }
  }

  @media screen and (min-width: 700px) {
    text-align: justify;
    padding: 30px;

    img {
      margin: auto;
    }
  }
}

.list-unstyled > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table {
  @include table($navbarBgColor, $tableVerticalPadding, $tableHorizontalPadding);
}

.table-bordered {
  @include table-bordered($navbarBgColor);
}

.table-striped {
  @include table-striped(lighten($navbarBgColor, 50));
}

.table-hover {
  @include table-hover(lighten($navbarBgColor, 30));
}

.order {
  text-align: center;

  & > .table {
    text-align: left;
  }

  @media screen and (min-width: 900px) {
    text-align: left;
    .btn-xl {
      display: inline-block;
      float: right;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.create {
  text-align: center;

  .form-group > label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 700px) {
      display: inline-block;
    }
  }

  .checkbox {
    display: inline-block;
    label {
      @extend .btn;
    }
  }

  @media screen and (min-width: 700px) {
    text-align: left;

    h3 {
      padding-left: 30px;

      & + .checkbox {
        margin-left: 60px;
      }
    }
  }
}
