
$default: #95A5A6;
$primary: #2C3E50;
$info: #3498DB;
$success: #18BC9C;
$warning: #F39C12;
$danger: #E74C3C;

$lightgrey: #EEEEEE;
$grey: #AAAAAA;

$columns: 8;
$gutter: 1%;

$tableBorderColor: #DDDDDD;
$tableStripedBgColor: #F8F8F8;
$tableHoverBgColor: #F8F8F8;
$tableVerticalPadding: 15px;
$tableHorizontalPadding: 10px;

$navbarBgColor: #57311E;
$navbarLinkColor: $primary;
$navbarDisabledColor: $grey;

$breadcrumbBgColor: $navbarBgColor;
$breadcrumbSeparatorColor: lighten($navbarBgColor, 15);
$breadcrumbPadding: 15px;
