
@mixin navbar($bgColor, $linkColor, $disabledColor, $verticalPadding: 20px, $horizontalPadding: 20px, $activeClass: 'active', $disabledClass: 'disabled') {
  list-style: none;
  background-color: $bgColor;
  margin: 0;
  padding: 0;
  min-height: 50px;

  & > li {
    float: left;

    & > a {
      display: block;
      padding: $verticalPadding $horizontalPadding;
      color: $linkColor;

      &:hover {
        background-color: darken($bgColor, 5);
        color: lighten($linkColor, 20);
      }
    }

    &.#{$activeClass} > a {
      font-weight: bold;
      background-color: darken($bgColor, 5);
    }

    &.#{$disabledClass} > a {
      color: $disabledColor;
      cursor: not-allowed;
    }
  }
}
